/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  margin: 0px 30px;
}

body {
  background-color: rgb(33 33 33);
  /* color: rgb(254, 254, 254); */
  color: rgb(106, 106, 106);
}
.nav {
  padding: 41px 5px;
  margin-bottom: 20px;
}
.eachNave {
  padding: 8px;
  background-color: rgb(13, 13, 13);
  margin: 10px;
  color: rgb(15, 105, 270);
}
.eachNave.active {
  /* background-color: rgb(60 143 18);
  color: #1b4314; */
  background-color: rgb(13, 13, 13);
  color: rgb(198, 45, 72);
  text-decoration: none;
}
